<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chart</title>
    <link rel="stylesheet" href="/resources/css/df_candle_chart.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script
      type="text/javascript"
      src="/resources/js/df_candle_chart.js"
    ></script>
  </head>

  <body>
    <div>
      <button onclick="changeDuration('1s');">1s</button>
      <button onclick="changeDuration('1m');">1m</button>
      <button onclick="changeDuration('1h');">1h</button>
    </div>

    <div>
      SMA <input type="checkbox" id="inputSma" />
      Period
      <input type="text" id="inputSmaPeriod1" value="7" style="width: 15px" />
      <input type="text" id="inputSmaPeriod2" value="14" style="width: 15px" />
      <input type="text" id="inputSmaPeriod3" value="50" style="width: 15px" />
    </div>

    <div>
      EMA <input type="checkbox" id="inputEma" />
      Period
      <input type="text" id="inputEmaPeriod1" value="7" style="width: 15px" />
      <input type="text" id="inputEmaPeriod2" value="14" style="width: 15px" />
      <input type="text" id="inputEmaPeriod3" value="50" style="width: 15px" />
    </div>

    <div>
      BBands <input type="checkbox" id="inputBBands" />
      N
      <input type="text" id="inputBBandsN" value="20" style="width: 15px" />
      K
      <input type="text" id="inputBBandsK" value="2" style="width: 15px" />
    </div>

    <div>Ichimoku <input type="checkbox" id="inputIchimoku" /></div>

    <div>Volume <input type="checkbox" id="inputVolume" /></div>

    <div>
      RSI <input type="checkbox" id="inputRsi" />
      Period
      <input type="text" id="inputRsiPeriod" value="14" style="width: 15px" />
    </div>

    <div id="dashboard_div">
      <div id="chart_div"></div>
      <div id="technical_div"></div>
      <div id="filter_div"></div>
    </div>
  </body>
</html>
